# ignore all files in the __pycache__ directory
__pycache__

# ignore all files in the .qgis2 directory
.qgis2  

# ignore all files in the .qgis3 directory
.qgis3

# ignore all files in the .qgis4 directory
.qgis4

# ignore all files in the .qgis5 directory
.qgis5

# ignore variogram.png
variogram.png

# ignore all files in the .windsurf directory
.windsurf
