# nicht zur Laufzeit n?tig
ofe_planung/resources.qrc export-ignore

# Sphinx build cache / doctrees nicht n?tig
ofe_planung/help/build/doctrees/** export-ignore

# (optional) Quellen nicht n?tig, HTML reicht
ofe_planung/help/build/html/_sources/** export-ignore
